version: 2.1

orbs:
  aws-cli: circleci/aws-cli@2.0.3

_defaults: &defaults
  docker:
    - image: circleci/openjdk:11-jdk
  resource_class: large
  working_directory: ~/repo
  environment:
    JVM_OPTS: -Xms2g -Xmx6g -Xss50m
    SBT_OPTS: -Xms2g -Xmx6g -Xss50m
    TERM: dumb

_setup:
  - restore_cache: &dependencies_cache
      name: Restore dependencies cache
      keys:
        - v1-dependencies-{{ checksum "project/Dependencies.scala" }}

  - restore_cache: &project_cache
      name: Restore project cache
      keys:
        - v1-project-{{ .Revision }}

  - add_ssh_keys: &ssh_keys
      fingerprints:
        - "SHA256:P5z+sQgnTE60Gs7Wu9v2qEMdhY+2mUDf7o9zPd036RM"

  - run: &code_artifact_login
      name: CodeArtifact Login
      command: |
        echo 'export CODEARTIFACT_AUTH_TOKEN=$(aws codeartifact get-authorization-token \
        --domain compstak-prod --domain-owner 278696104475 \
        --query authorizationToken --output text)' >> $BASH_ENV

workflows:
  version: 2
  development:
    jobs:
      - build:
          context: aws-deploy

      - publish:
          context: aws-deploy
          requires:
            - build
          filters:
            branches:
              ignore:
                - main

      - request-release:
          type: approval
          requires:
            - build
          filters:
            branches:
              only:
                - main

      - release:
          context: aws-deploy
          requires:
            - request-release
          filters:
            branches:
              only: main

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - aws-cli/setup
      - restore_cache: *dependencies_cache
      - add_ssh_keys: *ssh_keys
      - run: *code_artifact_login

      - run:
          name: Compile, test and check formatting
          command: cat /dev/null | sbt +fmtCheck +compile +test:compile +test

      - save_cache:
          name: Save dependencies cache
          paths:
            - ~/.cache/coursier
            - ~/.ivy2/cache
            - ~/.m2
            - ~/.sbt
          key: v1-dependencies-{{ checksum "project/Dependencies.scala" }}

      - save_cache:
          name: Save project cache
          paths:
            - target
            - project/target
          key: v1-project-{{ .Revision }}

  publish:
    <<: *defaults
    steps:
      - checkout
      - aws-cli/setup
      - restore_cache: *dependencies_cache
      - restore_cache: *project_cache
      - add_ssh_keys: *ssh_keys
      - run: *code_artifact_login

      - run:
          name: Publish current snapshot
          command: |
            cat /dev/null | sbt +publish

  release:
    <<: *defaults
    steps:
      - checkout
      - aws-cli/setup
      - restore_cache: *dependencies_cache
      - restore_cache: *project_cache
      - add_ssh_keys: *ssh_keys
      - run: *code_artifact_login

      - run:
          name: Release current version and increment next version number
          command: cat /dev/null | sbt "release with-defaults"
